{%extends 'base/polynomial_base1.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>Adding Polynomials Calculator to add polynomials {{input}} - factorpolynomials.com</title>
    <meta name="description" content="Adding Polynomials Calculator determines the sum of polynomials {{input}} with a detailed explanation on how result {{result}} arrived.">
    <link rel="canonical" href="{{request.build_absolute_uri}}" >
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/Factor-Polynomials-102151955136428" property="og:url" />
    <meta property="og:title" content="Adding Polynomials Calculator to add polynomials {{input}} - factorpolynomials.com"/>
    <meta property="og:description" content="Adding Polynomials Calculator determines the sum of polynomials {{input}} with a detailed explanation on how result {{result}} arrived."/>
    <meta content="" property="og:site_name" />
    <meta  content="https://factorpolynomials.com/static/images/polynomials/Polynomials-Addition-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/factorpolynomil"/>
    <meta name="twitter:title" content="Adding Polynomials Calculator to add polynomials {{input}} - factorpolynomials.com"/>
    <meta name="twitter:description" content="Adding Polynomials Calculator determines the sum of polynomials {{input}} with a detailed explanation on how result {{result}} arrived."/>
    <meta name="twitter:image:src" content="https://factorpolynomials.com/static/images/polynomials/Polynomials-Addition-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Adding Polynomials Calculator to add polynomials {{input}} - factorpolynomials.com"/>
    <meta property='og:image' content="https://factorpolynomials.com/static/images/polynomials/Polynomials-Addition-Calculator.jpeg"/>
    <meta property='og:description' content="Adding Polynomials Calculator determines the sum of polynomials {{input}} with a detailed explanation on how result {{result}} arrived."/>
    <meta property='og:url' content="https://www.linkedin.com/in/factorpolynomials/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
<script type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"What is the addition of polynomials {{input1}}?","acceptedAnswer":{"@type":"Answer","text":"Addition of Polynomials {{input1}} is {{result}}."}},{"@type":"Question","name":"How to add polynomials {{input1}} easily?","acceptedAnswer":{"@type":"Answer","text":"You can Add polynomials {{input}} by simply arranging the like terms and then adding them up together."}},{"@type":"Question","name":"Where do I get the detailed procedure on addition of the polynomials {{input}}?","acceptedAnswer":{"@type":"Answer","text":"You can get detailed procedure on addition of the polynomials {{input}} on our page."}}]}</script><!--FAQPage Code Generated by https://saijogeorge.com/json-ld-schema-generator/faq/-->
{%endblock%}
{%block content%}
<div class="container">
    <div class="card c1">
      <div class="card-header">
  <h1 class="h1">Addition of Polynomials {{input1}}</h1>
  </div>
  <div class="card-body">
    <p><a href="/adding-polynomials-calculator/">Adding Polynomials Calculator</a> will find the sum of polynomials {{input}} i.e. {{result}} along with a detailed explanation on how to approach.</p>
    <p><b>Ex: </b> x^5+x^5+1+x^5+x^3+x (or)  x^5+3x^5+1+x^6+x^3+x (or) x^3+x^5+1+x^3+x^3+x</p>
    <form method="POST">{% csrf_token %}
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Adding Polynomials</label>
          <div class="input-group mb-2">
            <div class="input-group-text"><strong>Calculate Addition of given Polynomials: </strong></div>
              <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control" name="textfield1" id="inlineFormInputGroup" placeholder="Enter Polynomials" value="{{input}}">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Calculate</button>
        </div>
      </div>
    </form>
</div></div>
<div class="card">
    <div class="card-header">
<h2 class="h2">Step by Step Solution to add polynomials {{input1}}</h2>
</div>
<div class="card-body">
{% autoescape off %}
{{ s }}
{% endautoescape %}
</div>
</div>
</div>
<div class=" container faq ">
  <div class="card">
    <div class="card-header">
        <h3 class="h3">FAQs on Addition of Polynomials  {{input1}}</h3>
    </div>
    <div class="card-body">
        <!-- Question & Answer Starts --->
       <p class="question"><strong>1.  What is the addition of polynomials {{input1}}?</strong></p>
       <p class="answer">Addition of Polynomials {{input1}} is {{result}}.</p><hr>
 
 
       <p class="question"><strong>2. How to add polynomials {{input1}} easily?</strong></p>
       <p class="answer">You can Add polynomials {{input}} by simply arranging the like terms and then adding them up together.</p><hr>
 
 
       <p class="question"><strong>3. Where do I get the detailed procedure on addition of the polynomials {{input}}?</strong></p>
        <p class="answer">You can get detailed procedure on addition of the polynomials {{input}} on our page.</p><hr>
        
        
    </div>
   </div>
</div>
<!-- <div class="card">
  <div class="card-header">
  <h3 class="h3">Adding Polynomials Calculations</h3>
</div>
<div class="card-body">
  <ul>
    {% for i,j in sk1 %}
  <li><a  href="{{i}}" title="{{j}}">{{j}}</a></li>
  {% endfor %}
  </ul>
</div>
</div>
</div> -->
{%endblock%}