{%extends 'base/polynomial_base2.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  
  <link rel="shortcut icon" href="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}" type="icon">
  {%block css%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>Polynomial Root Calculator | Online tool to find Roots of Polynomial {{input}} - factorpolynomials.com</title>
    <meta name="description" content="Polynomial Root Calculator solves the roots of polynomials easily. Get detailed steps on How to find Polynomial Root of {{input}} and get the result ie, {{result}}">
    <link rel="canonical" href="{{request.build_absolute_uri}}" >
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/Factor-Polynomials-102151955136428" property="og:url" />
    <meta property="og:title" content="Polynomial Root Calculator | Online tool to find Roots of Polynomial {{input}} - factorpolynomials.com"/>
    <meta property="og:description" content="Polynomial Root Calculator solves the roots of polynomials easily. Get detailed steps on How to find Polynomial Root of {{input}} and get the result ie, {{result}}"/>
    <meta content="" property="og:site_name" />
    <meta  content="https://factorpolynomials.com/static/images/polynomials/Polynomial-Root-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/factorpolynomil"/>
    <meta name="twitter:title" content="Polynomial Root Calculator | Online tool to find Roots of Polynomial {{input}} - factorpolynomials.com"/>
    <meta name="twitter:description" content="Polynomial Root Calculator solves the roots of polynomials easily. Get detailed steps on How to find Polynomial Root of {{input}} and get the result ie, {{result}}"/>
    <meta name="twitter:image:src" content="https://factorpolynomials.com/static/images/polynomials/Polynomial-Root-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Polynomial Root Calculator | Online tool to find Roots of Polynomial {{input}} - factorpolynomials.com"/>
    <meta property='og:image' content="https://factorpolynomials.com/static/images/polynomials/Polynomial-Root-Calculator.jpeg"/>
    <meta property='og:description' content="Polynomial Root Calculator solves the roots of polynomials easily. Get detailed steps on How to find Polynomial Root of {{input}} and get the result ie, {{result}}"/>
    <meta property='og:url' content="https://www.linkedin.com/in/factorpolynomials/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->
<script type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"What are the roots of Polynomial {{input}}?","acceptedAnswer":{"@type":"Answer","text":"The roots of Polynomial {{input}} are {{result}}."}},{"@type":"Question","name":"How do you find Polynomial Roots {{input}} on a calculator?","acceptedAnswer":{"@type":"Answer","text":"You can find polynomial roots for {{input}} on a calculator by just entering the polynomial expression in the input field and tap on the calculate button to get the result in no time ie., {{result}}."}},{"@type":"Question","name":"Where do I see complete steps of solving Polynomial Roots {{input}}?","acceptedAnswer":{"@type":"Answer","text":"You can see complete steps of solving Polynomial Roots {{input}} on our page"}}]}</script><!--FAQPage Code Generated by https://saijogeorge.com/json-ld-schema-generator/faq/-->
{%endblock%}
{%block content%}
<div class="container">
    <div class="card c1">
      <div class="card-header">
  <h1 class="h1">Find out the Polynomial Root of {{input}}</h1>
  </div>
  <div class="card-body">
      <p>Make use of our <a href="/polynomial-root-calculator/">Polynomial Root Calculator</a> & find the roots of the given polynomial {{input}} ie., roots as {{result}} in no time along with a detailed solution.</p>
      <p><b>Ex: </b> x^2+5x+6 (or)  x^2+6x+8 (or) x^2-49</p>
    <form method="POST">{% csrf_token %}
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Polynomial Root Calculator:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><strong>Polynomial Root Calculator: </strong></div>
            </div>
            <input type="text" class="form-control" name="textfield1" id="inlineFormInputGroup" placeholder="Enter Polynomials" value="{{input}}">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Calculate</button>
        </div>
      </div>
    </form>
</div></div>
<div class="card">
    <div class="card-header">
<h2 class="h2">Step by Step Guide to Solve the Roots of the Polynomial {{input}}</h2>
</div>
<div class="card-body">
{% autoescape off %}
{{ s }}
{% endautoescape %}
</div>
</div>
</div>
<div class=" container faq ">
  <div class="card">
    <div class="card-header">
        <h3 class="h3">Frequently Asked Questions on Determining if Polynomial root of {{input}}</h3>
    </div>
    <div class="card-body">
        <!-- Question & Answer Starts --->
       <p class="question"><strong>1. What are the roots of Polynomial {{input}}?</strong></p>
       <p class="answer">The roots of Polynomial {{input}} are {{result}}.</p><hr>
 
 
       <p class="question"><strong>2. How do you find Polynomial Roots {{input}} on a calculator?</strong></p>
       <p class="answer">You can find polynomial roots for {{input}} on a calculator by just entering the polynomial expression in the input field and tap on the calculate button to get the result in no time ie., {{result}}.</p><hr>
 
 
       <p class="question"><strong>3. Where do I see complete steps of solving Polynomial Roots {{input}}?</strong></p>
        <p class="answer">You can see complete steps of solving Polynomial Roots {{input}} on our page</p><hr>
        
        
    </div>
   </div>
</div>
<!-- <div class="card">
  <div class="card-header">
  <h3 class="h3">Multiplying Polynomials Calculations</h3>
</div>
<div class="card-body">
  <ul>
    {% for i,j in sk1 %}
  <li><a  href="{{i}}" title="{{j}}">{{j}}</a></li>
  {% endfor %}
  </ul>
</div>
</div>
</div> -->
{%endblock%}