{%extends 'base/polynomial_base1.html'%}
{%load static%}

{%block meta%}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}" type="icon">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<title>factorpolynomials.com - About Us</title>
<meta name="description" itemprop="description"
  content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/Factor-Polynomials-102151955136428" property="og:url" />
<meta property="og:title" content="factorpolynomials.com - About Us" />
<meta property="og:description"
  content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
<meta content="" property="og:site_name" />
<meta content="{% static 'images/logo/Online-Calculator-Guru.png' %}" property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/factorpolynomil" />
<meta name="twitter:title" content="factorpolynomials.com - About Us" />
<meta name="twitter:description"
  content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
<meta name="twitter:image:src" content="{% static 'images/logo/Online-Calculator-Guru.png' %}">
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="factorpolynomials.com - About Us" />
<meta property='og:image' content="{% static 'images/logo/Online-Calculator-Guru.png' %}" />
<meta property='og:description'
  content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
<meta property='og:url' content="https://www.linkedin.com/in/factorpolynomials/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->

{%endblock%}

{%block content%}

<div class="container">
  <div class="card c1">
    <div class="card-header">
      <h1 class="h1">About Us</h1>
    </div>
    <div class="card-body">
      <p style="font-weight: 450;">Have you ever got frustrated while looking for help on the factoring polynomials
        concept? This portal has been created to help you resolve all such queries and has well written solutions for
        various questions. We at factorpolynomials.com have all sorts of concepts like Arithmetic Operations on
        Polynomials, Factoring over multivariable polynomials, polynomial equation solver, polynomial root, etc. </p>
      <p style="font-weight: 450;">You name it we have it! Apart from the Mathematical Tools for Polynomials we even
        give you straightforward descriptions to shed some light on the concepts that you never seemed to understand
        before. You can perform mathematical calculations in a matter of seconds with our resources and learn the
        concepts of polynomials at your own pace. </p>
      <p style="font-weight: 450;">Look no further and grasp the required knowledge on polynomials with our one stop
        destination and reach heights in your journey of learning.</p>

    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{%endblock%}