{%extends 'base/polynomial_base1.html'%}
{%load static%}
  {%block meta%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}" type="icon">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/4083775673.js"></script>
  {%block css%}
  <link rel="stylesheet" href="/static/style.css">
  {%endblock%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- META DATA STARTS --->
    <title>Polynomials Calculator | Free tools to solve the Polynomial Equations Easy</title>
    <meta name="description" content="Online Polynomials Calculator determines the factors, GCF, order & degree of polynomial. Learn how to perform arithmetic operations on polynomials, solving equations, etc.">
    <link rel="canonical" href="{{request.build_absolute_uri}}" >
<!-- META DATA ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
    <!--  FACEBOOK CONFIGURATION STARTS  -->
    <meta content="https://www.facebook.com/Factor-Polynomials-102151955136428" property="og:url" />
    <meta property="og:title" content="Polynomials Calculator | Free tools to solve the Polynomial Equations Easy"/>
    <meta property="og:description" content="Online Polynomials Calculator determines the factors, GCF, order & degree of polynomial. Learn how to perform arithmetic operations on polynomials, solving equations, etc."/>
    <meta content="" property="og:site_name" />
    <meta  content="static/images/base/Polynomials-Calculator.jpeg" property="og:image" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="435" />
    <meta property="og:image:width" content="354" />
    <!--  FACEBOOK CONFIGURATION ENDS  -->
    <!-- TWITTER CARD CONFIGURATION STARTS  -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="https://twitter.com/factorpolynomil"/>
    <meta name="twitter:title" content="Polynomials Calculator | Free tools to solve the Polynomial Equations Easy"/>
    <meta name="twitter:description" content="Online Polynomials Calculator determines the factors, GCF, order & degree of polynomial. Learn how to perform arithmetic operations on polynomials, solving equations, etc."/>
    <meta name="twitter:image:src" content="static/images/base/Polynomials-Calculator.jpeg"/>
    <meta property="twitter:image:height" content="435"/>
    <meta property="twitter:image:width" content="354"/>
    <!-- TWITTER CARD CONFIGURATION ENDS  -->
    <!--  LINKEDIN CONFIGURATION STARTS-->
    <meta property='og:title' content="Polynomials Calculator | Free tools to solve the Polynomial Equations Easy"/>
    <meta property='og:image' content="static/images/base/Polynomials-Calculator.jpeg"/>
    <meta property='og:description' content="Online Polynomials Calculator determines the factors, GCF, order & degree of polynomial. Learn how to perform arithmetic operations on polynomials, solving equations, etc."/>
    <meta property='og:url' content="https://www.linkedin.com/in/factorpolynomials/" />
    <!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
  
{%endblock%}
{%block content%}
<div class="container">
  <div class="c1 card">
    <div class="card-header"><h1 class="h1">List of Contents</h1></div>
    <div class="card-body" id="formula-list">
    <ul class="ul-format">
      <div class="row">
        <div class="col-sm-6">
              <li><span style="color: #8CC63E"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span><a href="business/">Business</a></li>
              <li><span style="color: #8CC63E"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span><a href="miscellaneous/">Miscellaneous</a></li>
        </div>
            </div>
      </ul>
  </div>
  </div>

</div>
{%endblock%}