.table-borderless tr{
    border: none;
}

.list-unstyled li{
    list-style-type: none;
}

.list-unstyled li a{
    color: rgba(255, 255, 255, 0.8);
}

a.navbar-brand{
    font-size: 21px !important;
}

a.nav-link{
    font-size: inherit;
}


@media only screen and (min-width: 992px) {
    .jump-links {
        column-count: 2;
    }
    ol.breadcrumb{
        padding-left: 0px;
    }
}