{%load static%}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}" type="icon">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>factorpolynomials.com - Page Not Found</title>
  <meta name="description" itemprop="description"
    content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
  <link rel="canonical" href="{{request.build_absolute_uri}}">
  <!-- OPEN GRAPH CONFIGURATIONS STARTS -->
  <!--  FACEBOOK CONFIGURATION STARTS  -->
  <meta content="https://www.facebook.com/Factor-Polynomials-102151955136428" property="og:url" />
  <meta property="og:title" content="factorpolynomials.com - Page Not Found" />
  <meta property="og:description"
    content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
  <meta content="" property="og:site_name" />
  <meta content="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}" property="og:image" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:height" content="435" />
  <meta property="og:image:width" content="354" />
  <!--  FACEBOOK CONFIGURATION ENDS  -->
  <!-- TWITTER CARD CONFIGURATION STARTS  -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="https://twitter.com/factorpolynomil" />
  <meta name="twitter:title" content="factorpolynomials.com - Page Not Found" />
  <meta name="twitter:description"
    content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
  <meta name="twitter:image:src" content="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}">
  <meta property="twitter:image:height" content="435" />
  <meta property="twitter:image:width" content="354" />
  <!-- TWITTER CARD CONFIGURATION ENDS  -->
  <!--  LINKEDIN CONFIGURATION STARTS-->
  <meta property='og:title' content="factorpolynomials.com - Page Not Found" />
  <meta property='og:image' content="{% static 'images/logo/Factor-Polynomial-Com-Fevicon.png' %}" />
  <meta property='og:description'
    content="Polynomials Calculator to find out the result for lengthy polynomial equations easily & grasp the concept. Learn a detailed process to solve Polynomials." />
  <meta property='og:url' content="https://www.linkedin.com/in/factorpolynomials/" />
  <!-- end of linkedin CONFIGURATIONS ENDS -->
  <!-- OPEN GRAPH CONFIGURATION ENDS -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/4083775673.js"></script>

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'famous_people_style.css' %}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1a237e !important;">
    <div class="container-fluid">
      <a class="navbar-brand lead font-weight-bold" href="/">Factor Polynomials</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Web Stories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/web-stories/travel/">Travel</a>
              <a class="dropdown-item" href="/web-stories/tech/">Tech</a>
              <a class="dropdown-item" href="/web-stories/covid/">Covid</a>
              <a class="dropdown-item" href="/web-stories/fitness/">Fitness</a>
              <a class="dropdown-item" href="/web-stories/entertainment/">Entertainment</a>
              <a class="dropdown-item" href="/web-stories/food/">Food</a>
              <a class="dropdown-item" href="/web-stories/sports/">Sports</a>
              <a class="dropdown-item" href="/web-stories/health/">Health</a>
              <a class="dropdown-item" href="/web-stories/gaming/">Gaming</a>
              <a class="dropdown-item" href="/web-stories/latest/">Latest</a>
              <a class="dropdown-item" href="/web-stories/humor/">Humor</a>
              <a class="dropdown-item" href="/web-stories/beauty/">Beauty</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Calculator
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/adding-polynomials-calculator/">Adding Polynomials Calculator</a>
              <a class="dropdown-item" href="/subtracting-polynomials-calculator/">Subtracting Polynomials
                Calculator</a>
              <a class="dropdown-item" href="/multiplying-polynomials-calculator/">Multiplying Polynomials
                Calculator</a>
              <a class="dropdown-item" href="/dividing-polynomials-calculator/">Dividing Polynomials Calculator</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="font-size: inherit;" href="/difference-between/">Difference Between</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="font-size: inherit;" href="/famous-people/">Famous People</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="card c1">
      <div class="card-header">
        <h2 class="h2">404 Error</h2>
      </div>
      <div class="card-body">
        <br><br><br><br><br>
        <center>
          <h2>Page Not Found</h2>
        </center>
        <br><br><br><br><br>
      </div>
    </div>
  </div>

  <br>

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #1a237e;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4"
      style="background-color: rgba(0, 0, 0, 0.050);">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a target="_blank" href="https://www.facebook.com/Factor-Polynomials-102151955136428"
          class="me-4 text-reset text-decoration-none mr-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a target="_blank" href="https://twitter.com/factorpolynomil" class="me-4 text-reset text-decoration-none mr-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/factorpolynomials/"
          class="me-4 text-reset text-decoration-none mr-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCFkMv7w89Dqc0XukZUcWsFA/"
          class="me-4 text-reset text-decoration-none mr-4">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <br>

    <!-- Section: Links -->
    <section class="container" style="background-color: #1a237e;">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-4 mb-md-0">
          <h5 class="text-capitalize">Favorite Calculators</h5>

          <ul class="list-unstyled mb-0">
            <li><a href="https://onlinecalculator.guru/math-calculator/" title="Maths Calculator">Maths Calculator</a>
            </li>
            <li><a href="https://physicscalc.com/" title="Physics Calculator">Physics Calculator</a></li>
            <li><a href="https://chemistrycalc.com/" title="Chemistry Calculator">Chemistry Calculator</a></li>
            <li><a href="https://lcmgcf.com/" title="LCM and GCF Calculator">LCM and GCF Calculator</a></li>
            <li><a href="https://multiplyfractions.com/" title="Fractions Calculator">Fractions Calculator</a></li>
            <li><a href="https://factorpolynomials.com/" title="Polynomials Calculator">Polynomials Calculator</a></li>
            <li><a href="https://percentagecalculator.guru/" title="Percentage Calculator">Percentage Calculator</a>
            </li>
            <li><a href="https://areavolumecalculator.com/" title="Area and Volume Calculator">Area and Volume
                Calculator</a></li>
            <li><a href="https://linearequationscalculator.com/" title="Linear Equations Calculator">Linear Equations
                Calculator</a></li>
            <li><a href="https://roundingcalculator.guru/" title="Rounding Calculator">Rounding Calculator</a></li>
            <li><a href="https://statisticscalculators.net/" title="Statistics Calculator">Statistics Calculator</a>
            </li>
            <li><a href="https://hcflcm.com/" title="HCF and LCM Calculator">HCF and LCM Calculator</a></li>
            <li><a href="https://sequencecalculators.com/" title="Sequences Calculator">Sequences Calculator</a></li>
            <li><a href="https://probabilitycalculator.guru/" title="Probability Calculator">Probability Calculator</a>
            </li>
            <li><a href="https://arithmeticcalculator.com/" title="Arithmetic Calculator">Arithmetic Calculator</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">
          <h5 class="text-capitalize">Most Popular</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="/adding-polynomials-calculator/" title="Adding Polynomials Calculator">Adding Polynomials
                Calculator</a></li>
            <li><a href="/subtracting-polynomials-calculator/" title="Subtracting Polynomials Calculator">Subtracting
                Polynomials Calculator</a></li>
            <li><a href="/multiplying-polynomials-calculator/" title="Multiplying Polynomials Calculator">Multiplying
                Polynomials Calculator</a></li>
            <li><a href="/dividing-polynomials-calculator/" title="Dividing Polynomials Calculator">Dividing Polynomials
                Calculator</a></li>
            <li><a href="/factoring-multi-variable-polynomials-calculator/" title="Factoring Questions">Factoring
                Questions</a></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">
          <h5 class="text-capitalize">Company</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/about-us/">About US</a>
            </li>
            <li>
              <a href="/contact-us/">Contact US</a>
            </li>
            <li>
              <a href="/privacy-policy/">Privacy Policy</a>
            </li>
            <li>
              <a href="/disclaimer/">Disclaimer</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <br>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://factorpolynomials.com/">Factorpolynomials.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>